{% extends 'base.html' %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<h2>
    <a href="#">Heading</a>
</h2>
<span class="label label-success">标签</span>
<p>
    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
    tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
    malesuada magna mollis euismod. Donec sed odio dui.
</p>
<p>
    <a class="btn" href="#">View details »</a>
</p>
{% endblock %}

{% block person_photo %}
<img src="../static/img/head.png" class="img-circle glyphicon-align-right" width="120"
     height="120"/>
{% endblock %}

{% block personal %}
<p>欢迎您，{}</p>
<p>note：{}</p>
<p>性别：{}</p>
<p>权限：{}</p>
{% endblock %}

{% block other_users %}
其他用户
{% endblock %}