<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/api.js"></script>

    <script>
        var insertTweet = function(tweet) {
            var t = tweet;
            var template = `
                ${t.created_time} : ${t.content}
                <a href="/tweet/update/${t.id}">编辑</a>
                <button class="button-delete" ${t.id}">删除</button>
            `;
            $('#id-div-tweets').append(template);
        };

        var addNewTweet = function() {
            var form = {
                'content': $('#id-input-tweet').val()
            };
            var success = function (r) {
                log('login, ', r);
                if(r.success) {
                    insertTweet(r.data);
                } else {
                    log(r.message);
                }
            };
            var error = function (err) {
                log(err);
            };
            vip.tweetAdd(form, success, error);
        };

        var deleteTweet = function(element){
            <!--var tweet_id = element.dataset.id;-->
            var tweet_id = $(element).data('id')
            <!--上面这个和第一行作用是一样的-->
            log('element带来的tweet_id', tweet_id)
            var self = $(element);
            var success = function(r){
                log('删除成功', r);
                if(r.success) {
                    log(r.id, '删除没')
                    self.parent().remove();
                } else {
                    log(r.message);
                }
              };
            vip.tweetDelete(success, tweet_id);
        };

        var bindActions = function() {
            $('#id-button-tweet-add').on('click', function(){
                addNewTweet();
            });
            $('body').on('click', '.button-delete', function(){
                deleteTweet(this);
            });
        };

        var __main = function() {
            bindActions();
        };

        $(document).ready(function() {
            __main();
        });
    </script>
</head>
<body>
    <!-- 这里的 none 是小写，因为这是 jinja2 模板的语法-->
    {% if user is not none %}
    <p>{{ user.username }}</p>
    <p>{{ user.id }}</p>
    <textarea id="id-input-tweet" class="form-control" placeholder="说点啥"></textarea>
    <br>
    <button id="id-button-tweet-add" class="pure-button pure-button-primary">发新微博</button>
    {% endif %}

    <div id="id-div-tweets">
    {% for t in user.tweets %}
        <p>
            {{ t.created_time }} : {{ t.content }}
            <a href="/tweet/update/{{t.id}}">编辑</a>
            <button class="button-delete" data-id="{{t.id}}">删除</button>
        </p>
    {% endfor %}
    </div>
</body>
</html>
