{% extends 'base.html' %}

{% block head %}
{{super()}}
<script src="../static/js/api.js"></script>

<script>
    window.g_userID = {{user.id}}
    var tweetTemplate = function (tweet) {
        var t = tweet;
        var content = t.content;
        var title = t.title;
        var time = dateTrans(t.created_time);
        var author = t.author;
        var id = t.id;
        var tw = `
        <div data-id=${id} class="long-tweet container-fluid" style="margin: 0px 0px 5px 0px;">
            <h2>
                <a href="/details/${id}">${title}</a>
            </h2>
            <div class="container-fluid" style="margin: -18px 0px 0px -10px;">
                <div class="media-left">
                    <h4><span class="label label-success">作者：${author}</span>
                        <span class="label label-primary">时间：${time}</span></h4>
                </div>
                <div class="media-right" style="padding-left: 400px">
                    <a class="glyphicon glyphicon-pencil btn-sm" href="/update/${id}" title="编辑"></a>
                    <a class="glyphicon glyphicon-trash" type="button" href="#" title="删除"></a>
                </div>
            </div>
            <p>
            ${content}
            <a class="btn" href="/details/${id}">View details »</a>
            </p>
        </div>
            `;
        return tw
    };

    var insertTweets = function (tweets) {
        for (var i = 0; i < tweets.length; i++) {
            var a = tweets[i];
            var t = tweetTemplate(a);
            $('#sortable').append(t);
        }
    };

    var loadTweets = function () {
        log('userID', g_userID);
        vip.tweetMyOwn(function (r) {
            if (r.success) {
                var tweets = r.data;
                insertTweets(tweets);
            } else {
                alert(r.message);
            }
        }, g_userID);
    };

    var deleteTweet = function () {
        $('div#sortable').on('click', 'a.glyphicon.glyphicon-trash', function () {
            var self = $(this);
            var tweet_id = self.closest('div.long-tweet').data('id');
            log('self是', self);
            log('bindDelet中tweet_id是', tweet_id);
            var success = function(r){
                if(r.success) {
                    alert(r.message);
                    self.closest('div.long-tweet').remove();
                } else {
                    log(r.message);
                }
              };
            log('tweet删除前的mark');
            vip.tweetDelete(success, tweet_id);

        })
    };

    var deleteUser = function () {
        $('div.panel-body.long-user-panel').on('click', 'span.long-user-delete', function () {
            var self = $(this);
            var userId = self.parent().data('id');
            log('userId', userId);
            var success = function(r){
                if(r.success) {
                    alert(r.message);
                    self.parent().remove();
                } else {
                    log(r.message);
                }
              };
            log('tweet删除前的mark');
            vip.userDelete(success, userId);
        })
    };

    var __main = function () {
        loadTweets();
        deleteTweet();
        deleteUser()

    };

    $(document).ready(function () {
        __main();
    })
</script>

{% endblock %}

