{% extends 'base.html' %}

{% block head %}
{{super()}}
<script>
    var tweetId = {{tweet.id}}
//    var insertComment = function(comment){
//        var c = comment;
//        log('tweetId', tweetId);
//        var author = c.reply_username;
//        var content = c.content;
//        var time = c.created_time;
//        log('author', author);
//        log('content', content);
//        log('time', time);
//        var cc = `
//        <!--<div class="panel panel-default">-->
//                <!--<div class="panel-heading"></div>-->
//                <div class="text-primary">
//                    <div class="media-left">
//                        <a href="#">
//                        <img src="http://vip.cocode.cc/uploads/avatar/defaultnormal.png">
//                        <div class="text-center">
//                            ${author}
//                        </div>
//                        </a>
//                    </div>
//                    <div class="media-right">
//                        ${content}
//                    </div>
//                    <div class="text-right">
//                        发布于 --
//                        ${time}</div>
//                <!--</div>-->
//            <!--</div>-->
//`;
//        $('.container.long-comment-aera').append(cc);
//        $('#id-text-comment').val('');
//}

    var bindInsertComment = function () {
        $('#id-button-commentAdd').on('click',function () {
                var form = {
                    'content': $('#id-text-comment').val(),
                    'tweet_id': tweetId,
                };
                log('bindInsert中的form', form);
                var success = function (r) {
                    if (r.success) {
                          window.location.href = r.next;
//                        var comment = r.data;
//                        insertComment(comment);
                        } else {
                            alert(r.message);
                        }
                    };
                var error = function (err) {
                log('bindInsertComment函数中报错', err);
            };
                vip.commentAdd(form, success, error, tweetId)
            }
        )
    };

    var bindDeleteComment = function () {
        $('#id-comment-aera').on('click', 'span.glyphicon.glyphicon-remove', function () {
            var self = $(this);
            log('self', self);
            var commentId = self.closest('div.text-primary').data('id');
            log('commentId', commentId);
            var success = function(r){
                if(r.success) {
                    alert(r.message);
                    self.parent().remove();
                } else {
                    log(r.message);
                }
              };
            log('comment删除前的mark');
            vip.commentDelete(success, commentId);
//            $(this).parent().remove();
        })
    };

    var __main = function () {
        bindInsertComment();
        bindDeleteComment();
    };

    $(document).ready(function () {
        __main();
    })

</script>


{% endblock %}


{% block body %}
<div class="container-fluid" style="margin: 0px 0px 5px 0px;">
            <h2>
                <a href="#">{{tweet.title}}</a>
            </h2>
            <div class="container-fluid" style="margin: -18px 0px 0px -10px;">
                <div class="media-left">
                    <h4><span class="label label-success">作者：{{author.username}}</span>
                        <span class="label label-primary">时间：{{tweet.update_time}}</span></h4>
                </div>
                {% if user.username == author %}
                <div class="media-right" >
                    <a class="glyphicon glyphicon-pencil btn-sm" href="/update/{{tweet.id}}" title="编辑"></a>
                    <a class="glyphicon glyphicon-trash" type="button" href="#" title="删除"></a>
                </div>
                {% endif %}
            </div>
            <p>
            {{tweet.content|safe}}
            </p>


            <hr>
            <h3><span class="glyphicon glyphicon-comment">评论</span></h3>

        <div id="id-comment-aera" class="container long-comment-aera">
            {% for c in comments %}

                <div data-id="{{c.id}}" class="text-primary">
                    {% if user.username == author.username %}
                    <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                    <div class="media-left">
                        <a href="#">
                        <img src="../static/img/匿名者.jpg" class="img-rounded" height="70" width="70">
                        <div class="text-center">
                            {{c.reply_username}}
                        </div>
                        </a>
                    </div>
                    <div class="media-right">
                        {{c.content|safe}}

                    </div>

                    <div class="text-right">
                        发布于 --
                        {{c.created_time}}

                    </div>
                </div>
            {% endfor %}
            </div>


        <hr>
            <h4><span class="glyphicon glyphicon-comment">我来讲两句</span></h4>
            <form class="submit-article-button">
                <textarea rows="3" cols="60" id="id-text-comment" required="required"></textarea>
                <button id="id-button-commentAdd" type="button" class="btn btn-default">
                    评论
                </button>
            </form>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}