{% extends 'base.html' %}

{% block title %}
Blog
{% endblock %}

{% block head %}
{{ super() }}
<script src="../static/js/api.js"></script>

<script>
    var tweetTemplate = function (tweet) {
        var t = tweet;
        var content = t.content;
        var title = t.title;
        var time = t.created_time;
//        todo 这里应该换为是username，可以在return的JSON中加入
        var author = t.author;
        var id = t.id;
        var tw = `
        <div id="long-tweet-#{id}">
            <h2>
                <a href="/details/${id}">${title}</a>
            </h2>
            <p>
                <h4><span class="label label-success">作者：${author}</span>
                    <span class="label label-primary">时间：${time}</span></h4>
            </p>
            <p>
            ${content}
            <a class="btn" href="/details/${id}">View details »</a>
            </p>
        </div>
            `;
        return tw
    };

    var insertTweets = function (tweets) {
        for (var i = 0; i < tweets.length; i++) {
            var a = tweets[i];
            var t = tweetTemplate(a);
            $('#sortable').append(t);
        }
    };

    var loadTweets = function () {
        vip.tweetDeliver(function (r) {
            if (r.success) {
                var tweets = r.data;
                insertTweets(tweets);
            } else {
                alert(r.message);
            }
        });
    };

    var __main = function () {
        loadTweets();
    };

    $(document).ready(function () {
        __main();
    })
</script>
{% endblock %}

{% block person_photo %}
<img src="../static/img/head.png" class="img-circle glyphicon-align-right" width="120"
height="120"/>
{% endblock %}

{% block personal %}
<br>
<p>欢迎您，{{user.username}}</p>
<p>note：{{user.note}}</p>
<p>性别：{{user.sex}}</p>
{% endblock %}
